$light-color: rgb(242,242,242);
$contrast-color: rgb(140,73,98);
$dark-color: rgb(23,43,77);
$light-shadow: rgba(211, 211, 211, 0.7);
$dark-shadow: #00000026;
$white-transparent: rgba(225, 225, 225, 0.7);
